[submodule "wasip1/wasi-testsuite"]
	path = wasip1/wasi-testsuite
	url = https://github.com/WebAssembly/wasi-testsuite
	branch = prod/testsuite-base
[submodule "internal/spec_tests/testsuite"]
	path = internal/spec_tests/testsuite
	url = https://github.com/WebAssembly/testsuite.git
